<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Project List</h1>
<div th:if="${#lists.isEmpty(projectList)}">
    <p>추가된 프로젝트 없음!!</p>
    <a href="/task/projectForm">프로젝트 추가</a>
</div>
<div th:unless="${#lists.isEmpty(projectList)}">
    <table border="1">
        <thead>
        <tr>
            <th>Project Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projectList}">
            <td>
                <a th:href="@{'/task/project/' + ${project.getProjectId()}}" th:text="${project.getProjectName()}"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/task/projectForm">프로젝트 추가</a>
</div>

</body>
</html>