<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>

    </script>
    <style>

    </style>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <h1>Welcome</h1>

            <form class="loginForm" action="/account/login" method="post">
                <input type="text" id="id" name="id2" placeholder="ID">
                <input type="password" id="password" name="password2" placeholder="Password">
                <button type="submit" id="login-button">Login</button>
            </form>
        </div>
    </div>
</body>
</html>